<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @list.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @list.body %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @list.deadline %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
