<head>
	<!-- ビューポートの設定 -->
	<meta name="viewport" content="width=device-width,initial-scale=1">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>

</head>

<div id="header">
  <div class="logo">
    <%= link_to 'TAKUMI', root_path %>
  </div>
  <nav>
    <!-- <form class="search" action="search.php">
      <input name="q" placeholder="Search..." type="search">
    </form> -->
    <ul>
      <li>
        <%= link_to 'TOP', root_path %>
      </li>
      <li>
        <%= link_to '新規タスク登録', new_todo_path %>
      </li>
      <li>
        <%= link_to 'タスク一覧', todos_path %>
      </li>
    </ul>
  </nav>
</div>

<script>
$('#header').prepend('<div id="menu-icon"><span class="first"></span><span class="second"></span><span class="third"></span></div>');

$("#menu-icon").on("click", function(){
  $("nav").slideToggle();
  $(this).toggleClass("active");
});
</script>

<p id="notice"><%= notice %></p>

<CENTER>

<br>
<h1>タスク一覧</h1>
<section>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>詳細</th>
      <th>期限</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @todos.each do |todo| %>
    <tr>
      <th><%= todo.title %></th>
      <td><%= todo.body %></td>
      <td><%= todo.deadline %></td>
      <td><%= link_to '詳細', todo %></td>
      <td><%= link_to '編集', edit_todo_path(todo) %></td>
      <td><%= link_to '削除', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
      <% end %>
   </tbody>
</table>
</section>

<br>

<!-- <table>
  <thead>
    <tr><th>登録日</th><th>タイトル</th><th>詳細</th><th>期限</th><th colspan="3"></th>
  </thead>
  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.date %></td>
        <td><%= todo.title %></td>
        <td><%= todo.body %></td>
        <td><%= todo.deadline %></td>
        <td><%= link_to '詳細', todo %></td>
        <td><%= link_to '編集', edit_todo_path(todo) %></td>
        <td><%= link_to '削除', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody> -->
  <!-- <tbody>
    <tr><td>〇</td><td>〇</td><td>〇</td><td>〇</td><td>〇</td>
  </tbody> -->
<!-- </table>
<br> -->
<!-- <div class="outer">
<table>
  <thead>
    <tr>
      <th>登録日</th>
      <th>タイトル</th>
      <th>詳細</th>
      <th>期限</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.date %></td>
        <td><%= todo.title %></td>
        <td><%= todo.body %></td>
        <td><%= todo.deadline %></td>
        <td><%= link_to '詳細', todo %></td>
        <td><%= link_to '編集', edit_todo_path(todo) %></td>
        <td><%= link_to '削除', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div> -->

</CENTER>

<br>

<%= link_to '新規タスク登録', new_todo_path %>
